#include "resource.h"

DLG_SIZE DIALOGEX 0,0,186,42
CAPTION "Size Selection"
FONT 8,"Ms Shell Dlg",0,0,0
STYLE 0x90C808CC
BEGIN
  CONTROL "",IDC_SIZE_SEL,"Edit",0x50010000,3,3,180,15,0x00000200
  CONTROL "Set Size",IDC_SET_SIZE,"Button",0x50010000,66,24,54,15
END